/* /Pages/Home.razor.rz.scp.css */
.federations[b-lejdoku167] {
    > li {
        padding: 5px 20px;
        margin: 5px;
        border-radius: 5px;
        > a {
            text-decoration: none;
            color: inherit;
            }
    }
}
/* /Pages/Kendo.razor.rz.scp.css */
#intro[b-1x0d843tj3] {
    display: flex;
    > div > p {
          text-align: justify;
      }
.begrippen[b-1x0d843tj3] {
    margin-top: 65px;
    background-color: rgb(0,0,0,0.1);
    max-width: fit-content;
    height: max-content;
    .row {
    padding: 4px 2px;
    .col-12 {
    text-align: center;
            }
         }
    .row:first-child[b-1x0d843tj3], .row:nth-child(2n+3)[b-1x0d843tj3] {
    background-color:rgb(255, 255, 255, 0.9);
    }
}
}

.knowmore[b-1x0d843tj3] {
    display: flex;
    .title {
               display: flex;
               flex-direction: column;
               align-content: center;
               justify-content: center;
               #firstpar {
                             justify-content: center;
                         }
           }
.links[b-1x0d843tj3] {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    .row {
             width: 100%;
             justify-content: center;
         }
    .item[b-1x0d843tj3] {
              background-color: rgb(0,0,0,0.1);
              padding: 15px;
              border-radius: 5px;
              margin: 5px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 20%;
              &:hover {
                          background-color: rgb(0,0,0,0.2);
                      }
          }
}
}
/* /Pages/Trainingen.razor.rz.scp.css */
.table[b-g1tnte2hg6] {
    width: 100%;
    position: relative;
}
.trainingEl[b-g1tnte2hg6] {
    width: 20%;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: absolute;
}

/* headers and rows */

th[b-g1tnte2hg6] {
    text-align: center;
}

th.ma[b-g1tnte2hg6], .di[b-g1tnte2hg6], .do[b-g1tnte2hg6], .za[b-g1tnte2hg6] {
    color: lightgrey;
}

td[b-g1tnte2hg6] {
    height: 60px;
    border-bottom: 1px solid grey;
    vertical-align: top;
    text-align: left;
}
 
/* columns */

.time[b-g1tnte2hg6] {
    width: 4%
}

.ma[b-g1tnte2hg6], .di[b-g1tnte2hg6], .do[b-g1tnte2hg6], .za[b-g1tnte2hg6] {
    width: 9%;
}


.wo[b-g1tnte2hg6], .vrij[b-g1tnte2hg6], .zo[b-g1tnte2hg6] {
    width: 20%;
}


/* location */

.belsele[b-g1tnte2hg6] {
    background-color: gold;
    color: black;
}

.stniklaas[b-g1tnte2hg6] {
    background-color: royalblue;
    color: white;
}

/* duration */

.duur-90[b-g1tnte2hg6] {
    height: 90px;
}

.duur-210[b-g1tnte2hg6] {
    height: 210px;
}

/* start */

.half[b-g1tnte2hg6] {
    margin-top: 30px;
}

.kwart[b-g1tnte2hg6] {
    margin-top: 15px;
}
/* /Shared/Footer.razor.rz.scp.css */
#thefooter[b-9osb6fh9aw] {
    margin-top: 80px;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    background-color: rgb(0,0,0, 0.1);
}

    .logoimg[b-9osb6fh9aw] {
        height: 80px;
        width: 80px;
    }

    #footertext[b-9osb6fh9aw] {
        > a {
            font-size: small;
            text-decoration: none;
            color: inherit;
        }
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.header-container[b-8v1vsuji7h] {
}
.headerimg[b-8v1vsuji7h] {
    height: 500px;
    width: 150%;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.6;
    margin-top:-140px;
}

.logo-container[b-8v1vsuji7h] {
    position: absolute;
    z-index: 100;
    left: 25px;
    top: 20px;
}

.logoimg[b-8v1vsuji7h] {
    height: 20vw;
    max-height: 200px;
}

.navbar-container[b-8v1vsuji7h] {
}

.headertext[b-8v1vsuji7h] {
    top:230px;
    color: white;
}
/* /Shared/NavBar.razor.rz.scp.css */
.thenavbar[b-kfq0ybtre2] {
    background-color: black;
    position: absolute;
    min-width: fit-content;
    top: 40px;
    right: 0px;
    opacity: 0.6;
    z-index: 10000;
    display: flex;
    font-size: 24px;

    &.large {
        > a {
            color: white;
            text-decoration: none;
            padding-left: 25px;
            transform: skew(20deg);
            &:hover {
                color: gold;
            }
            .firstelement[b-kfq0ybtre2] {
                padding-left: 35px !important
            }
        }
        padding: 8px 0;
        margin-right: -25px;
        padding-right: 55px;
        transform: skew(-20deg);
        width: 400px;[b-kfq0ybtre2]
    }

    &.small[b-kfq0ybtre2] {
        right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        color: white;
        justify-content: center;
        &.icon {
                  padding-top: 2px;
        }
        > ul[b-kfq0ybtre2] {
            list-style:none;
            padding: 10px 15px 0 0;
            > li > a {
                color: white;
                text-decoration: none;
                padding-left: 25px;
                transform: skew(20deg);
                &:hover {
                        color: gold;
                }
            }
        }
    
        &.menu[b-kfq0ybtre2] {
            top: 90px;
            height: fit-content;
            font-size: 18px;
            align-content:center;
        }
    }
}
