/* /Pages/TrainingElement.razor.rz.scp.css */
/* /Pages/Trainingen.razor.rz.scp.css */
.trainingEl[b-g1tnte2hg6] {
    width: 20%;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: absolute;
    padding: 5px 0 5px 15px;
}

/* headers and rows */

th[b-g1tnte2hg6] {
    text-align: center;
}

th.ma[b-g1tnte2hg6], .di[b-g1tnte2hg6], .do[b-g1tnte2hg6], .za[b-g1tnte2hg6] {
    color: lightgrey
}

td[b-g1tnte2hg6] {
    height: 60px;
    border-bottom: 1px solid grey;
    vertical-align: top;
    text-align: left;
}
 
/* columns */

.time[b-g1tnte2hg6] {
    width: 5%
}

.ma[b-g1tnte2hg6], .di[b-g1tnte2hg6], .do[b-g1tnte2hg6], .za[b-g1tnte2hg6] {
    width: 10%;
}

.wo[b-g1tnte2hg6], .vrij[b-g1tnte2hg6], .zo[b-g1tnte2hg6] {
    width: 20%
}

/* location */

.belsele[b-g1tnte2hg6] {
    background-color: gold;
    color: black;
}

.stniklaas[b-g1tnte2hg6] {
    background-color: royalblue;
    color: white;
}

/* duration */

.duur-90[b-g1tnte2hg6] {
    height: 90px;
}

.duur-210[b-g1tnte2hg6] {
    height: 210px;
}

/* start */

.half[b-g1tnte2hg6] {
    margin-top: 30px;
}

.kwart[b-g1tnte2hg6] {
    margin-top: 15px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.headerimg[b-8v1vsuji7h] {
    height: 340px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.6;
}

.logoimg[b-8v1vsuji7h] {
    top: 20px;
    left: 25px;
    position: absolute;
    z-index: 100;
    height: 250px;
    width: 250px;
}

.headertext[b-8v1vsuji7h] {
    position: absolute;
    top: 230px;
    left: 50px;
    color: white;
    font-weight: bold;
}
/* /Shared/NavBar.razor.rz.scp.css */
.thenavbar[b-kfq0ybtre2] {
    background-color: black;
    position: absolute;
    width: 400px;
    min-width: fit-content;
    top: 40px;
    right: 0px;
    opacity: 0.6;
    padding: 8px 0;
    margin-right: -25px;
    padding-right: 55px;
    font-size: 24px;
    z-index: 10000;
    transform: skew(-20deg);
    display: flex;

    > a {
        color: white;
        text-decoration: none;
        padding-left: 25px;
        transform: skew(20deg);

        &:hover {
            color: gold;
        }
    }
}
.firstelement[b-kfq0ybtre2] {
    padding-left: 35px !important
}
/* /Shared/NavMenu.razor.rz.scp.css */
