@page "/contact"

<h1>Contact</h1>
<ContactPerson JobTitle="Voorzitter"
               Name="Hans Bernaers"
               TelephoneNr="+32 474 41 12 24"
               Email="hansbernaers@mac.com"></ContactPerson>

<ContactPerson JobTitle="Secretaris"
               Name="Luc Weyn"
               Email="Tamiza.Kendo.Kai@abkf.be"></ContactPerson>

<ContactPerson JobTitle="Webmaster"
               Name="Jan Van Himste"
               TelephoneNr="+32 476 74 52 26"
               Email="cahal@telenet.be"></ContactPerson>

<ContactPerson JobTitle="Schatbewaarder"
               Name="Dimitri Karageorgos"
               Email="dimitry.karageorgos@telenet.com"></ContactPerson>
@code {

}
