<h4>@JobTitle: @Name</h4>
<p>
    @if (TelephoneNr != null)
    {
        <span>
            <i class="bi-telephone"></i> : @TelephoneNr
            <br />
        </span>
    }
    @if (Email != null)
    {
        <span>
            <i class="bi-envelope"></i> : @Email
            <br />
        </span>
    }
</p>
@code {
    [Parameter]
    public string? JobTitle { get; set; }
    [Parameter]
    public string? Name { get; set; }
    [Parameter]
    public string? TelephoneNr { get; set; }
    [Parameter]
    public string? Email { get; set; }
}
