@page "/"
@inject NavigationManager navigation

<h1>Clubinfo</h1>
<p>
    Tamiza Kendo Kai is een zelfstandige Kendoclub in samenwerking met Budokwai Belsele vzw
    waar je ook Judo, Ju-Jitsu, Aikido en Karate kan trainen.
    De naam Tamiza verwijst naar Temse waar de club zijn wortels heeft.
    Tami Za betekent letterlijk 'zetel van het volk', iedereen is er dus welkom.
    Bij Tamiza kan je Kendo, Iaido en Jodo trainen.
</p>
<p>
    Tamiza Kendo Kai is aangesloten bij :
    <ul class="federations">
        <li>
            All Belgian Kendo Federation (ABKF)
        </li>
        <li>
            Vlaamse Kendo Iaido Jodo Federation (VKIJF)
        </li>
        <li>
            St-Niklase Sportraad
        </li>
    </ul>
</p>
@code {

}
