@page "/home"
<h3>Clubinfo</h3>
<p>
    Tamiza Kendo Kai is een zelfstandige Kendoclub in samenwerking met Budokwai Belsele vzw
waar je ook Judo, Ju-Jitsu, Aikido en Karate kan trainen.
De naam Tamiza verwijst naar Temse waar de club zijn wortels heeft.
Tami Za betekent letterlijk 'zetel van het volk', iedereen is er dus welkom.
Bij Tamiza kan je Kendo, Iaido en Jodo trainen.
Tamiza Kendo Kai is aangesloten bij :
All Belgian Kendo Fedration (ABKF)
Vlaamse Kendo Iaido Jodo Fedration (VKIJF)
St-Niklase Sportraad
</p>
@code {

}
