@page "/inschrijven"

<p>
Verzekering : 36 Euro / Jaar. <br />
Lidgeld : 100 Euro / Jaar.
<br />
Minimumleeftijd : 8 jaar
</p>
<p>
25 % korting voor leerlingen, studenten, werklozen en voor een 2de aansluiting binnen hetzelfde gezin.<br />
Trainingsjaar start op 1 januari.<br />
Intreding tijdens lopend trainingsjaar : 10 Euro / maand.<br />
Clubuitrusting: Te huur in halfjaarlijkse termijnen.In 't Schooltje bij Budokwai,<br />
Koutermolenstraat 8b, Belsele
</p>
<p>
Rekeningnr : 001 - 2179725 - 17
</p>

@code {

}
