@page "/kendo"
<div id="intro">
    <div class="w-50">
        <h1>Wat is Kendo?</h1>
        <p class="d-flex">
            Kendo betekent in het Japans letterlijk 'De weg van het zwaard' en is zowel een sport, een fysieke als mentale discipline,  een studie en een kunst.
        </p>

        <p class="d-flex">
            De weg (Do)  verwijst tevens naar het pad van de kendoka tot voortdurende zelfverbetering.  Kendo is doordrenkt van de Japanse zienswijze en karakter en steunt ondermeer op deze concepten.
        </p>
        <h2>Meer weten?</h2>
        <p id="firstpar">
            De Kendo van vandaag is niet meer dezelfde als die van de Bushi of Samoerai uit het feodale Japan.  Al kent de modernere vorm  andere regels en normen dan op het slagveld, toch hebben  sterke wortels het de tand des tijds doen doorstaan.  In Kendo kan men zijn hele leven verdiepen en verbeteren, het is dus zeker niet de gemakkelijkste kunst maar zeker de moeite waard !
        </p>
        <p>
            Klik op de links hieronder om meer te leren.
        </p>
    </div>
    <div class="begrippen container">
        <div class="row">
            <div class="col-12">
                <h5>
                    Concepten
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                KI Ken Tai Ichi
            </div>
            <div class="col-6">
                Geest, Zwaard, Lichaam als één
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Zanchin
            </div>
            <div class="col-6">
                Resolute wil
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Kokoro Gamae
            </div>
            <div class="col-6">
                Alertheid van spirit
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Hei Jo Shin
            </div>
            <div class="col-6">
                Kalmte van geest
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Fudo Shin
            </div>
            <div class="col-6">
                Onafwendbare geest
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Ken Zen Ichi
            </div>
            <div class="col-6">
                Kendo en Zen zijn één
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Ken Tai Ichi
            </div>
            <div class="col-6">
                Aanval en Afweer zijn één
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Tamachi
            </div>
            <div class="col-6">

                Fighting Spirit (vechtlust)
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Mizu No Yonni
            </div>
            <div class="col-6">
                Wees als water
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                Nami No Yonni
            </div>
            <div class="col-6">
                Wees als een golf
            </div>
        </div>
    </div>
</div>


<div class="knowmore">
    <div class="links  my-5 w-100">
        <div class="row">
            <div class="item col cursor-pointer">
                Uitrusting
            </div>
            <div class="item col cursor-pointer">
                Etiquette
            </div>
            <div class="item col cursor-pointer">
                Japanse termen
            </div>
        </div>
        <div class="row">
            <div class="item col cursor-pointer">
                Basis - Kihon
            </div>
            <div class="item col cursor-pointer">
                Techniek - Waza
            </div>
            <div class="item col cursor-pointer">
                Oefening - Keiko
            </div>
        </div>
        <div class="row">
            <div class="item col cursor-pointer">
                Kata
            </div>
            <div class="item col cursor-pointer">
                Links
            </div>
            <div class="item col cursor-pointer">
                Clubs
            </div>
        </div>
    </div>
</div>

@code {

}
