.table {
    width: 100%;
    position: relative;
}
.trainingEl {
    width: 20%;
    color: white;
    opacity: 0.8;
    border-radius: 5px;
    position: absolute;
}

/* headers and rows */

th {
    text-align: center;
}

th.ma, .di, .do, .za {
    color: lightgrey;
}

td {
    height: 60px;
    border-bottom: 1px solid grey;
    vertical-align: top;
    text-align: left;
}
 
/* columns */

.time {
    width: 4%
}

.ma, .di, .do, .za {
    width: 9%;
}


.wo, .vrij, .zo {
    width: 20%;
}


/* location */

.belsele {
    background-color: gold;
    color: black;
}

.stniklaas {
    background-color: royalblue;
    color: white;
}

/* duration */

.duur-90 {
    height: 90px;
}

.duur-210 {
    height: 210px;
}

/* start */

.half {
    margin-top: 30px;
}

.kwart {
    margin-top: 15px;
}
