@page "/trainingen"
@inject IJSRuntime JS
<h1>Trainingen</h1>
<table class="d-none d-md-table" style="width: 100%">
    <tr>
        <th class="time"></th>
        <th class="ma">ma</th>
        <th class="di">di</th>
        <th class="wo">wo</th>
        <th class="do">do</th>
        <th class="vrij">vr</th>
        <th class="za">za</th>
        <th class="zo">zo</th>
    </tr>
    <tr>
        <td class="time">14:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo"></td>
        <td class="do"></td>
        <td class="vrij"></td>
        <td class="za"></td>
        <td class="zo">
            <div class="trainingEl stniklaas duur-90" style="height: 89px" @onclick="ScrollToStNiklaas">
                <TrainingElement Time="14:00-15:30" Training="Iaido" Location="Sint-Niklaas"></TrainingElement>
            </div>
        </td>
    </tr>
    <tr>
        <td class="time">15:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo"></td>
        <td class="do"></td>
        <td class="vrij"></td>
        <td class="za"></td>
        <td class="zo">
            <div class="trainingEl stniklaas half duur-90" @onclick="ScrollToStNiklaas">
                <TrainingElement Time="15:30-17:00" Training="Kendo" Location="Sint-Niklaas"></TrainingElement>
            </div>
        </td>
    </tr>
    <tr>
        <td class="time">16:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo"></td>
        <td class="do"></td>
        <td class="vrij"></td>
        <td class="za"></td>
        <td class="zo"></td>
    </tr>
    <tr>
        <td class="time">17:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo"></td>
        <td class="do"></td>
        <td class="vrij"></td>
        <td class="za"></td>
        <td class="zo"></td>
    </tr>
    <tr>
        <td class="time">18:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo">
            <div class="trainingEl belsele duur-210 cursor-pointer" @onclick="ScrollToBelsele">
                18:00-20:00<br />
                <b>
                    Jeugd (8-13 jaar)<br />
                </b>
                <br />
                19:30-21:30<br />
                <b>
                    Volwassenen <br />
                </b>
                <span>
                    <i class="bi-geo-alt"></i> Belsele
                </span>
            </div>
        </td>
        <td class="do"></td>
        <td class="vrij"></td>
        <td class="za"></td>
        <td class="zo"></td>
    </tr>
    <tr>
        <td class="time">19:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo">
        </td>
        <td class="do"></td>
        <td class="vrij"></td>
        <td class="za"></td>
        <td class="zo"></td>
    </tr>
    <tr>
        <td class="time">20:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo"></td>
        <td class="do"></td>
        <td class="vrij"></td>
        <td class="za"></td>
        <td class="zo"></td>
    </tr>
    <tr>
        <td class="time">21:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo"></td>
        <td class="do"></td>
        <td class="vrij">
            <div class="trainingEl stniklaas kwart duur-90" @onclick="ScrollToStNiklaas">
                <TrainingElement Time="21:15-22:45" Training="Jodo (Koryu)" Location="Sint-Niklaas"></TrainingElement>
            </div>
        </td>
        <td class="za"></td>
        <td class="zo"></td>
    </tr>
    <tr>
        <td class="time">22:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo"></td>
        <td class="do"></td>
        <td class="vrij"></td>
        <td class="za"></td>
        <td class="zo"></td>
    </tr>
    <tr>
        <td class="time">23:00</td>
        <td class="ma"></td>
        <td class="di"></td>
        <td class="wo"></td>
        <td class="do"></td>
        <td class="vrij"></td>
        <td class="za"></td>
        <td class="zo"></td>
    </tr>
</table>

<div class="d-md-none"> 
    Jeugd (8-13 jaar)
    <ul>
        <li>
            <b>Kendo</b>
            <ul>
                <li>Woensdag van 18:00 tot 20:00 in <span @onclick="ScrollToBelsele">Belsele</span></li>
            </ul>
        </li>
    </ul>
    Volwassenen
    <ul>
         <li>
            <b>Kendo</b>
            <ul>
                <li>Woensdag van 19:30 tot 21:30 in <span @onclick="ScrollToBelsele">Belsele</span></li>
                <li>Zondag van 15:30 tot 17:00 in <span @onclick="ScrollToStNiklaas">Sint-Niklaas</span></li>
            </ul>
        </li>
        <li>
            <b>Jodo (Koryu)</b>
            <ul>
                <li>Vrijdag van 21:15 tot 22:45 in <span @onclick="ScrollToStNiklaas">Sint-Niklaas</span></li>
            </ul>
        </li>
                <li>
            <b>Iaido</b>
            <ul>
                <li>Zondag van 14:00 tot 15:30 in <span @onclick="ScrollToStNiklaas">Sint-Niklaas</span></li>
            </ul>
        </li>
    </ul>
</div>

<h1>Locaties</h1>
<h3 id="belsele">Belsele</h3>
<h4>Dojo Budokwai Belsele</h4>
<div>
    Koutermolenstraat 8b, 9111 Belsele
</div>

@*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20023.566037478122!2d4.066215527204208!3d51.146351421757394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c38fa13595dbb7%3A0xa2ceff430700b31c!2sKoutermolenstraat%208b%2C%209111%20Sint-Niklaas!5e0!3m2!1snl!2sbe!4v1681245824459!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20023.566037478122!2d4.066215527204208!3d51.146351421757394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c38fa13595dbb7%3A0xa2ceff430700b31c!2sKoutermolenstraat%208b%2C%209111%20Sint-Niklaas!5e0!3m2!1snl!2sbe!4v1681245824459!5m2!1snl!2sbe" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h3 id="stniklaas">Sint-Niklaas</h3>
<h4>Sporthal de Witte Molen</h4>
<div>Azalealaan 29,  St-Niklaas</div>
@*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20017.056698214972!2d4.1373930272405275!3d51.16135421315392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c38e9d855da2a9%3A0xb4d05e87991a176f!2sAzalealaan%2029%2C%209100%20Sint-Niklaas!5e0!3m2!1snl!2sbe!4v1681245927796!5m2!1snl!2sbe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>*@
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20017.056698214972!2d4.1373930272405275!3d51.16135421315392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c38e9d855da2a9%3A0xb4d05e87991a176f!2sAzalealaan%2029%2C%209100%20Sint-Niklaas!5e0!3m2!1snl!2sbe!4v1681245927796!5m2!1snl!2sbe" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

@code {
    private async Task ScrollToStNiklaas()
    {
        await JS.InvokeVoidAsync("scrollTo", "stniklaas");
    }

    private async Task ScrollToBelsele()
    {
        await JS.InvokeVoidAsync("scrollTo", "belsele");
    }
}
