<div class="cursor-pointer">
    @Time
    <br />
    <b>
        @Training <br />
    </b>
    <span>
        <i class="bi-geo-alt"></i> @Location
    </span>
</div>

@code {
    [Parameter]
    public string? Time { get; set; }
    [Parameter]
    public string? Training { get; set; }
    [Parameter]
    public string? Location { get; set; }
}
