.trainingEl {
    height: 100px;
    opacity: 0.8;
    position: absolute;
    /*width: 15%;*/
    border-radius: 5px;
    color: white;
    padding: 5px 0 5px 15px ;
/*TODO: look here*/
}

th {
    text-align: center;
}

    th.ma, .di, .do, .za {
        color: lightgrey
    }

td {
    border-bottom: 1px solid grey;
    vertical-align: top;
    text-align: left;
    height: 50px;
}

.time {
    width: 5%
}

.ma, .di, .do, .za {
    width: 10%
}

.wo, .vrij, .zo {
    width: 15%
}



.belsele {
    background-color: gold;
    color: black;
}

.stniklaas {
    background-color: royalblue;
    color: white;
}



.duur-90 {
    height: 74px;
}

.duur-210 {
    height: 175px;
}

.half {
    margin-top: 25px;
}

.kwart {
    margin-top: 12px;
}
