<div id="thefooter">
    <img class="logoimg" src="images/Tamizalogo.jpg" />
    <div id="footertext" class="mx-3 pt-3">
        <b>Tamiza Kendo Kai</b><br />
        <a href="mailto:Tamiza.Kendo.Kai@abkf.be">
            <i class="bi-envelope"></i> : Tamiza.Kendo.Kai@abkf.be
        </a>
    </div>
</div>

