.header-container {
}
.headerimg {
    height: 500px;
    width: 150%;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.6;
    margin-top:-140px;
}

.logo-container {
    position: absolute;
    z-index: 100;
    left: 25px;
    top: 20px;
}

.logoimg {
    height: 20vw;
    max-height: 200px;
}

.navbar-container {
}

.headertext {
    top:230px;
    color: white;
}