.headerimg {
    height: 340px;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.6;
}

.logo-container {
    position: absolute;
    z-index: 100;
    left: 25px;
    top: 20px;
}

.logoimg {
    height: 20vw;
    max-height: 200px;
}

.headertext {
    top:230px;
    color: white;
}