@inherits LayoutComponentBase

<div>
        <img class="logoimg" src="images/Tamizalogo.jpg"/>
    <div>
        <img class="headerimg" src="images/kendo.jpg"/>
        <NavBar></NavBar>
        <h1 class="headertext">Tamiza Kendo Kai</h1>
    </div>
    <div class="container">

@Body
    </div>
</div>