.thenavbar {
    background-color: black;
    position: absolute;
    min-width: fit-content;
    top: 40px;
    right: 0px;
    opacity: 0.6;
    z-index: 10000;
    display: flex;
    font-size: 24px;

    &.large {
        > a {
            color: white;
            text-decoration: none;
            padding-left: 25px;
            transform: skew(20deg);
            &:hover {
                color: gold;
            }
            .firstelement {
                padding-left: 35px !important
            }
        }
        padding: 8px 0;
        margin-right: -25px;
        padding-right: 55px;
        transform: skew(-20deg);
        width: 400px;
    }

    &.small {
        right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        color: white;
        justify-content: center;
        > ul {
            list-style:none;
            padding: 10px 15px 0 0;
            > li > a {
                color: white;
                text-decoration: none;
                padding-left: 25px;
                transform: skew(20deg);
                &:hover {
                        color: gold;
                }
            }
        }
    
        &.menu {
            top: 90px;
            height: fit-content;
            font-size: 18px;
            align-content:center;
        }
    }
}