<div class="d-none d-lg-table">
    <div class="thenavbar large">
        <NavLink href="" Match="NavLinkMatch.All">
            <span class="element firstelement">
                Home
            </span>
        </NavLink>
        <NavLink class="element" href="trainingen">
            Trainingen
        </NavLink>
        <NavLink class="element" href="contact">
            Contact
        </NavLink>
        <NavLink class="element" href="inschrijven">
            Inschrijven
        </NavLink>
        <NavLink class="element" href="info">
            Wat is Kendo?
        </NavLink>
    </div>
</div>
<div class="d-lg-none">
    <div class="thenavbar small icon cursor-pointer" @onclick="ToggleOpened">
        <i class="bi bi-list"></i>
    </div>
    @if (opened)
    {

        <div class="thenavbar small menu">
            <ul>
                <li @onclick="ToggleOpened">
                    <NavLink href="" Match="NavLinkMatch.All">
                        <span class="element firstelement">
                            Home
                        </span>
                    </NavLink>
                </li>
                <li @onclick="ToggleOpened">
                    <NavLink class="element" href="trainingen">
                        Trainingen
                    </NavLink>
                </li>
                <li @onclick="ToggleOpened">
                    <NavLink class="element" href="contact">
                        Contact
                    </NavLink>
                </li>
                <li @onclick="ToggleOpened">
                    <NavLink class="element" href="inschrijven">
                        Inschrijven
                    </NavLink>
                </li>
                <li @onclick="ToggleOpened">
                    <NavLink class="element" href="info">
                        Wat is Kendo?
                    </NavLink>
                </li>
            </ul>
        </div>
    }
</div>

@code {
    private bool opened;
    private void ToggleOpened()
    {
        opened = !opened;
    }
}

