<div class="thenavbar">
    <NavLink  href="" Match="NavLinkMatch.All">
        <span class="element firstelement">
        Home
        </span>
    </NavLink>
    <NavLink class="element" href="trainingen">
        Trainingen
    </NavLink>
    <NavLink class="element" href="contact">
        Contact
    </NavLink>
    <NavLink class="element" href="inschrijven">
        Inschrijven
    </NavLink>
    <NavLink class="element" href="info">
        Wat is Kendo?
    </NavLink>
</div>


